.image-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.imgs {
  width: 200px;
}

.banner {
  width: 100%;
}

.header p {
  color: rgb(158, 158, 158);
}
.footer p {
  color: rgb(158, 158, 158);
}
